<!-- Menu -->
<mat-toolbar color="primary">
  <span>
    <app-menu-cmp></app-menu-cmp>
  </span>
  <span class="spacer"></span>
  <h1 class = "title">The Round Table</h1>
  <span class="spacer"></span>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile
      [colspan]="3"
      [rowspan]="2">

      <!-- Map -->
      <app-map-cmp></app-map-cmp>


  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">

      <!-- Graph -->
      <app-graph-cmp [name]="graph1"></app-graph-cmp>

  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">

If a crime were to happen right now...
      <!-- Analysis -->
      <button mat-fab color="accent" class="buttons">
        Analyze
      </button>

  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">

      <!-- Graph 2 -->
      <app-graph-cmp [name]="graph2"></app-graph-cmp>

  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
